@media only screen and (max-width: 1024px) {
    .biography-section {
        flex-direction: column; /* Affichage en colonne sur les écrans moyens */
        align-items: center; /* Centrage des éléments */
    }

    .biography-box {
        width: 90%; /* Largeur ajustée pour les écrans moyens */
    }

    .flag-photo img {
        width: 90%; /* Ajustement de la taille du drapeau pour les écrans moyens */
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        display: none; /* Cacher le menu de navigation principal */
        position: absolute; /* Position absolue pour le déroulement */
        top: 5rem; /* Position par rapport au haut de la page */
        left: 0; /* Alignement à gauche */
        background-color: rgb(140, 0, 255); /* Couleur de fond */
        width: 100%; /* Pleine largeur */
        text-align: center; /* Centrage du texte */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
        z-index: 1000; /* Assure que le menu apparaît au-dessus du reste */
    }

    .nav-menu.open {
        display: flex; /* Affichage lorsque le menu est ouvert */
        flex-direction: column; /* Affichage en colonne pour les éléments de menu */
    }

    .nav-menu li {
        margin-bottom: 1rem; /* Espacement entre les éléments de menu */
    }

    .hamburger {
        display: block; /* Afficher le hamburger */
    }

    .nav-container {
        position: relative; /* Position relative pour contenir le menu */
    }

    .nav-menu li a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        padding: 0.5rem 1rem;
        display: block; /* Affichage en bloc pour les liens */
        transition: background-color 0.3s ease;
    }

    .nav-menu li a:hover {
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
    }

    .profile-photo.small {
        display: block; /* Affiche la version pour petits écrans */
    }

    .profile-photo.medium, .profile-photo.large {
        display: none; /* Cache les versions pour moyens et grands écrans */
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .profile-photo.medium {
        display: block; /* Affiche la version pour écrans moyens */
    }
    .profile-photo.small, .profile-photo.large {
        display: none; /* Cache les versions pour petits et grands écrans */
    }
}

@media only screen and (min-width: 1025px) {
    .profile-photo.large {
        display: block; /* Affiche la version pour grands écrans */
    }
    .profile-photo.small, .profile-photo.medium {
        display: none; /* Cache les versions pour petits et moyens écrans */
    }
}