@media only screen and (max-width: 480px) {
    .checkbox-group {
        flex-direction: column; /* Afficher les cases à cocher en colonne */
    }

    .checkbox-group label {
        margin-left: 0; /* Réinitialiser la marge à gauche */
        margin-bottom: 5px; /* Ajouter une marge en bas pour espacer les cases à cocher */
        display: block; /* Afficher chaque case à cocher sur une nouvelle ligne */
    }

    .checkbox-group input[type="checkbox"] {
        margin-right: 0; /* Réinitialiser la marge à droite */
    }
}
