/* Media query for smaller screens */
@media (max-width: 768px) {
    .data,
    .weather {
        position: static;
        margin: 10px auto;
        width: calc(100% - 40px);
        background-color: var(--data-bg-color);
    }
}