:root {
    --primary-color: blue;
    --secondary-color: red;
    --background-color: rgba(255, 255, 255, 0.658);
    --text-color: white;
    --box-width: 260px;
    --data-bg-color: rgba(255, 255, 255, 0.719);
    --weather-bg-color: rgba(255, 255, 255, 0.719);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

header::after {
    content: '';
    display: block;
    background-color: var(--secondary-color);
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

main {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero img.hero-img {
    width: 100%;
    height: auto;
    display: block;
}

.info-container {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data {
    padding: 10px;
    color: black;
    background-color: var(--data-bg-color);
    width: var(--box-width);
}

.data h2,
.weather h2 {
    background-color: red;
    padding: 5px;
}

.weather {
    padding: 10px;
    color: black;
    background-color: var(--weather-bg-color);
    width: var(--box-width);
    align-self: flex-end;
    text-align: center;
}

.weather-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

footer{
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px;
}

@media (max-width: 1200px) {
    :root {
        --box-width: 220px; 
    }
}

@media (max-width: 992px) {
    :root {
        --box-width: 180px;
    }
}

@media (max-width: 768px) {
    :root {
        --box-width: calc(100% - 40px); 
    }

    .info-container {
        flex-direction: column;
        align-items: center;
        position: static;
        margin: 10px auto;
        width: calc(100% - 40px);
    }

    .data,
    .weather {
        position: static;
        margin: 10px auto;
        width: calc(100% - 40px);
    }

    .weather {
        align-self: auto;
    }
}
